.library-body {
    padding-top: 90px;
    background: #fff;
}

.empty-message {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #989898;
    font-weight: 200;
    font-size: 2em;
}

.library-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-suggestions {
    bottom: 0px;
    position: absolute;
    margin: 0px 150px 10px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-suggestion-title {
    font-weight: 300;
    color: #a9a7a7;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.search-term {
    font-weight: 300;
    font-size: 0.9em;
    color: #a9a7a7;
    padding-left: 10px;
}