.bookshelf {
    margin-top: 20px;
}

.bookshelf-container {
    overflow-x: scroll;
}

.shelf-title {
    font-size: 1.8em;
    color: #333;
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 300;
}

.books-list {
    display: inline-flex;
    flex-flow: row;
    overflow-y: hidden;
}