.loading-message {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #989898;
    background: #fff;
    padding-top: 90px;
    overflow-x: hidden;
    font-weight: 200;
    font-size: 2em;
    top: 200px;
  }